[submodule "cookbooks/android-sdk"]
	path = cookbooks/android-sdk
	url = https://github.com/gildegoma/chef-android-sdk.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = https://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/ark"]
	path = cookbooks/ark
	url = https://github.com/burtlo/ark.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = https://github.com/opscode-cookbooks/build-essential.git
[submodule "cookbooks/eclipse"]
	path = cookbooks/eclipse
	url = https://github.com/geocent-cookbooks/eclipse.git
[submodule "cookbooks/emacs24"]
	path = cookbooks/emacs24
	url = https://github.com/sliim-cookbooks/emacs24.git
[submodule "cookbooks/java"]
	path = cookbooks/java
	url = https://github.com/agileorbit-cookbooks/java.git
[submodule "cookbooks/ohai"]
	path = cookbooks/ohai
	url = https://github.com/opscode-cookbooks/ohai.git
[submodule "cookbooks/ruby"]
	path = cookbooks/ruby
	url = git@github.com:ivanli/cookbook-ruby.git
[submodule "cookbooks/gnome3"]
	path = cookbooks/gnome3
	url = git@github.com:ivanli/cookbook-gnome3.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/jssjr/git.git
[submodule "cookbooks/atom"]
	path = cookbooks/atom
	url = https://github.com/mohitsethi/chef-atom.git
[submodule "cookbooks/dmg"]
	path = cookbooks/dmg
	url = https://github.com/chef-cookbooks/dmg.git
[submodule "cookbooks/windows"]
	path = cookbooks/windows
	url = https://github.com/chef-cookbooks/windows.git
[submodule "cookbooks/chef_handler"]
	path = cookbooks/chef_handler
	url = https://github.com/chef-cookbooks/chef_handler.git
[submodule "cookbooks/yum-epel"]
	path = cookbooks/yum-epel
	url = https://github.com/chef-cookbooks/yum-epel.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = https://github.com/chef-cookbooks/yum.git
[submodule "cookbooks/chocolatey"]
	path = cookbooks/chocolatey
	url = https://github.com/chocolatey/chocolatey-cookbook.git
[submodule "cookbooks/dropbox"]
	path = cookbooks/dropbox
	url = https://github.com/patcon/dropbox-cookbook.git
[submodule "cookbooks/pacman"]
	path = cookbooks/pacman
	url = https://github.com/jesseadams/pacman.git
